@charset "UTF-8";

* {
     margin: 0px;
     padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
}

main {
    height: 100vh;
}

section#telefone {
    background-image: url('../imagens/frame-iphone.png');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
}